.tabs-button {
    padding-top: 50px;
}
.tabs-button .row{
    margin-bottom: 12px;
}
.tabs-button .row button{
    width: 100%;
}
.content-tabs{
    padding: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.listSearch{
    padding-top: 30px;
}