<div class="row">
  <div class="col-md-12">
    <p class="alert-danger" *ngIf="error">
      all fields required
    </p>
    <p class="alert-success" *ngIf="success">
      search success
    </p>
    <form [formGroup]="flightForm" (submit)="formSubmit('cars')">
      <div class="row">
        <div class="col-xs-6 form-group">
          <input type="text" class="form-control validate" placeholder="Start date" bsDatepicker
                 formControlName="startdate" required>
        </div>
        <div class="col-xs-6 form-group">
          <input type="text" class="form-control validate" placeholder="End date" bsDatepicker  formControlName="enddate"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--<input type="text" class="form-control validate" placeholder="From city" formControlName="item1" required>-->
          <select name="item1" formControlName="item1" required class="form-control">
            <option value="gaz">gaz</option>
            <option value="hybrid">hybrid</option>
            <option value="electric">electric</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" class="form-control validate" placeholder="To city" formControlName="item2" required>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 text-right">
          <a role="button" class="btn btn-link" (click)="resetMyForm()">reset</a>
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>


    </form>

  </div>
</div>